@import  "../../styles/main.scss";
.Orders {
    ul {
        display: inline-block;
    }

    li {
        display: inline-block;
        margin-left: 20px;
    }

    .help-set-safe {
        position: fixed;
        left: 360px;
        right: 0;
        bottom: 86px;
        z-index: 12;
        text-align: center;
        .cmb{
            position: relative;
            left: -900px;
            z-index: 13;
            top: -620px;
        }
    }

    .btn-class {
        position: fixed;
        left: 665px;
        right: 0;
        bottom: 75px;
        width: 150px;
        z-index: 12;
        text-align: center;
    }

    .locate {
        position: fixed;
        left: 0;
        width: 320px;
        left: 400px;
        bottom: 86px;
        z-index: 12;
        text-align: center;
    }

    .icon {
        margin: 0 17px;
        vertical-align: middle;
        cursor: pointer;
    }
    .comeback{
        left: 360px;
        right: 0;
        bottom: 86px;
        z-index: 12;
    }
    
}



