@import  "../../styles/main.scss";
.Orders {
    ul {
        display: inline-block;
    }

    li {
        display: inline-block;
    }

    .help-set-safe {
        position: fixed;
        left: 360px;
        right: 0;
        bottom: 86px;
        z-index: 10;
        text-align: center;
    }

    .btn-class {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 65px;
        z-index: 10;
        text-align: center;
    }

    .locate {
        position: fixed;
        left: 0;
        right: 360px;
        bottom: 86px;
        z-index: 10;
        text-align: center;
    }

    .icon {
        margin: 0 17px;
        vertical-align: middle;
        cursor: pointer;
    }
}

.appoint-btn {
    display: block;
    widows: 120px;
    height: 42px;
    border-radius: 10px;
    line-height: 42px;
    margin-block: 0 2px;
    text-align: center;
    color: #fff;
    background-color: rgb(48, 97, 162);
    font-size: 26px;
    font-weight: 300;
}

.order-btn {
    display: block;
    widows: 120px;
    height: 42px;
    border-radius: 10px;
    margin-block: 0 2px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background-color: rgb(48, 97, 162);
    font-size: 26px;
    font-weight: 300;
}