$color-main:rgba(0,0,0,1);
$color-background:#304156;
/* clearfix */
@mixin clearfix {
  &:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden;
  }
  *height: 1%;
}